#disable temporary and log files and dirs
*.log
/.phpunit.result.cache

#disable composer-managed libraries
/vendor/
#disable composer lock file
/composer.lock

#disable IDE files
/nbproject/
/.idea/
